body {
  background-image: linear-gradient(
    to bottom right,
    #ecddce,
    rgb(232, 244, 255)
  );
}
.carousel-column {
  position: relative;
  z-index: 1;
}
.carousel-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: absolute;
  top: 500px;
  z-index: 2;
}
.media-query-slider {
  display: none;
}
.Ads-cards > div {
  border-radius: 10px;
  width: 250px;
  height: 300px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px 4px rgba(206, 205, 205, 0.461);
  background-color: aliceblue;
  text-align: left;
  padding: 10px 10px 10px 10px;
}
.Ads-cards > div:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.Ads-cards > div {
  transition: transform 0.5s ease-in-out;
}
.Ads-card-img {
  height: 250px;
  width: 220px;
  padding: 0px 10px;
}
.alternative {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* margin-top: 75px; */
  background-image: url("../images/adinkraSymbols.jpg");
  background-size: cover;
  padding: 75px 0px;
}
.custom-slider-cards > div {
  /* border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px 4px rgba(206, 205, 205, 0.461);
  background-color: blueviolet;
  text-align: left; */
  /* padding: 10px 0px 10px 10px;
  justify-content: space-evenly; */
  margin: 10px 20px;
}
.slick-slide > div {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px 4px rgba(206, 205, 205, 0.461);
  background-color: blueviolet;
  text-align: left;
  padding: 0px;
  margin: 10px 5px;
}
.slick-slide > div:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.slick-slide > div {
  transition: transform 0.5s ease-in-out;
}
.hero-section {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.hero-pic1 {
  background-image: url("../images/kente1.jpg");
}
.hero-pic2 {
  background-image: url("../images/kenteweaving.jpg");
}
.hero-pic3 {
  background-image: url("../images/smock4.jpg");
}
.col-card {
  background-color: aliceblue;
}
.landing-card1,
.landing-card2,
.landing-card3,
.landing-card4,
.landing-card5,
.landing-card6 {
  background-size: contain;
  height: 480px;
  margin-bottom: 15px;
}
.landing-card1 {
  background-image: url("../images/kente3.jpeg");
}
.landing-card2 {
  background-image: url("../images/smock1.jpg");
}
.landing-card3 {
  background-image: url("../images/smock3.jpg");
}
.landing-card4 {
  background-image: url("../images/kente4.jpg");
}
.landing-card5 {
  background-image: url("../images/kente5.jpg");
}
.landing-card6 {
  background-image: url("../images/smock2.jpeg");
}
.hero-text {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-weight: bold;
}
.vertical-line {
  background-color: rgba(0, 0, 0, 0.683);
  border-left: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
}
.landing-footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  margin-bottom: 10px;
}
.img-description {
  font-weight: bold;
  width: 85%;
  /* margin-left: 35%; */
  text-align: center;
  border: none;
  border-radius: 13%;
  padding: 0 15px;
  background-color: rgba(25, 22, 22, 0.447);
  color: rgba(245, 245, 245, 0.834);
}
.info-section-row {
  width: 80%;
  margin-left: 10%;
}
/* Add this CSS to your stylesheet or style section */
.info-section-row p {
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration 0.2s; /* Add a smooth transition effect */
}

.info-section-row p:hover {
  text-decoration: underline;
}

.links {
  color: rgba(0, 145, 255, 0.958);
  cursor: pointer;
}

/* @MEDIA QUERIES */

/* Extra small devices (phones, 350px and down) */
@media only screen and (max-width: 450px) {
  .carousel-cards {
    display: none;
  }
  .media-query-slider {
    display: block;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    /* position: absolute;
    top: 600px;
    z-index: 2; */
  }
  .slick-slide .media-query-div,
  .media-query-div2,
  .media-query-div3,
  .media-query-div4,
  .media-query-div5,
  .media-query-div6,
  .media-query-div7,
  .media-query-div8 {
    background-size: cover;
    width: 210px;
    height: 210px;
  }
  .slick-slide .media-query-div {
    background-image: url("../images/adinkraSymbols.jpg");
  }
  .slick-slide .media-query-div2 {
    background-image: url("../images/kente3.jpeg");
  }
  .slick-slide .media-query-div3 {
    background-image: url("../images/kente4.jpg");
  }
  .slick-slide .media-query-div4 {
    background-image: url("../images/clothedpeople2.jpg");
  }
  .slick-slide .media-query-div5 {
    background-image: url("../images/Ankara.jpeg");
  }
  .slick-slide .media-query-div6 {
    background-image: url("../images/adinkraSymbols.jpg");
  }
  .slick-slide .media-query-div7 {
    background-image: url("../images/kenteChild.jpg");
  }
  .slick-slide .media-query-div8 {
    background-image: url("../images/adinkraSymbols.jpg");
  }
  .alternative {
    display: none;
  }
}
