.custom-navbar{
  background-color: transparent;
  padding: 10px 5px;
  transition: background-color 0.4s ease-in-out;
}
.custom-navbar.active{
  background: whitesmoke;
  opacity: 98%;
  background-size: cover;
  padding: 10px 5px;
  /* color: aliceblue; */
  box-shadow: rgba(69, 65, 65, 0.309) 5px 5px 3px 2px;
}
.nav-link-text.active{
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-right: 15px;
  font-size: large;
}
.nav-link-text{
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-right: 15px;
  font-size: large;
}
.nav-link-text:hover{
  text-decoration: none;
  color: rgb(119, 59, 9);
  transition: color 0.5s ease-in-out;
}
.brand-name{
  font-size: larger;
  color: black;
  font-family: fantasy;
}
.user-email{
  font-family: fantasy;
}
.logout-button{
  border: none;
  border-radius: 0 50px 0 50px;
  margin-right: 10px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 2px 4px rgba(53, 50, 50, 0.461);
  transition: transform 0.2s;
}
.logout-button:hover{
  color: brown;
  transform: scale(1.03);
}